src/optimization_methods.aux
src/optimization_methods.fdb_latexmk
src/optimization_methods.fls
src/optimization_methods.log
src/optimization_methods.out
src/optimization_methods.synctex.gz
src/optimization_methods.toc